.nftmarket {
  --dash-padding: 13rem;
  --padding-bottom: 100px;

  padding-bottom: var(--padding-bottom);
  font-family: "PP Gosha Sans", sans-serif;

  .buttoncontainer {
    margin-top: 12.5rem;
    font-family: "PP Gosha Sans", sans-serif;
    display: flex;
    justify-content: space-between;
  }

  .btnStyle {
    background-color: rgba(72, 45, 54, 0.31);
    border-color: white;
    margin-right: 2rem;
    height: fit-content;
    font-size: large;
  }

  .btnStyle-right {
    background: rgba(238, 44, 27, 0.08);
    border: 1px solid #ee2c1b;
    color: #ee2c1b;
    height: fit-content;
    font-size: large;
  }

  .btnStyle-right:hover {
    background: rgba(238, 44, 27, 0.08);
    border: 1px solid white;
    color: white;
    height: fit-content;
    font-size: large;
  }

  .btnStyle:hover {
    background-color: rgba(254, 112, 36, 0.25);
    border-color: #fe7024;
  }

  .head-btn-1,
  .head-btn-2,
  .head-btn-3,
  .head-btn-4 {
    flex: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(
      90.01deg,
      rgba(238, 44, 27, 0.05) 0.01%,
      rgba(243, 110, 35, 0.05) 99.99%
    );
    border: 1px solid #ee2c1b;
    height: 2rem;
    padding-top: 0.15rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
  }

  .head-btn-4 {
    border-radius: 0px 7px 7px 0px;
    width: 5.6rem;
    justify-content: center;
  }

  .head-btn-1 {
    border-radius: 7px 0px 0px 7px;
    width: 3.25rem;
    justify-content: center;
  }

  .head-btn-2 {
    border-radius: 0px;
    width: 3.25rem;
    justify-content: center;
  }

  .head-btn-3 {
    border-radius: 0px 7px 7px 0px;
    width: 4.2rem;
    justify-content: center;
  }

  .search-main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .search-container {
    height: 3rem;
  }

  .search-field {
    height: 2rem;
    width: 100%;
    background: linear-gradient(
      90.01deg,
      rgba(238, 44, 27, 0.05) 0.01%,
      rgba(243, 110, 35, 0.05) 99.99%
    );
    border: 1px solid;
    border-image-source: linear-gradient(
      90.01deg,
      #ee2c1b 0.01%,
      #f36e23 99.99%
    );
    border: 1px solid #ee2c1b;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: -2rem;
    margin-bottom: -1rem;
    width: 95%;
  }

  .right-filter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .search-btn {
    width: 3rem;
    border: 1px solid #ee2c1b;
    background: linear-gradient(
      90.01deg,
      rgba(238, 44, 27, 0.25) 0.01%,
      rgba(243, 110, 35, 0.25) 99.99%
    );
    padding-left: 7px;
    padding-top: 5px;
    padding-right: -5px;
    border-radius: 7px 0px 0px 7px;
  }

  input[type="text"] {
    padding-left: 5px;
    padding-top: 5px;
    background-color: transparent;
    color: white;
  }

  .header-labels {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .pagination {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: -0.7rem;
  }

  .prev-btn,
  .next-btn {
    background-color: transparent;
    border-color: transparent;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .next-btn {
    margin-left: -0.5rem;
    padding-right: 1.25rem;
  }
  .prev-btn {
    margin-right: -0.5rem;
  }
  .go-btn {
    background-color: transparent;
    border-color: transparent;
    margin-right: 1rem;
    margin-left: -2rem;
    padding: -0.5rem;
    font-size: small;
  }

  .page-btn {
    background-color: transparent;
    border-color: transparent;
    color: #fe7024;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    font-size: small;
  }

  .page-txt-field {
    background: linear-gradient(
      90.01deg,
      rgba(238, 44, 27, 0.1) 0.01%,
      rgba(243, 110, 35, 0.1) 99.99%
    );
    border: 1px solid #fe7024;
    width: 1.5rem;
    margin-left: -1rem;
    border-radius: 5px;
    height: 1.5rem;
    font-size: small;
    text-align: center;
    justify-content: center;
  }

  table {
    width: 100%;
    justify-content: center;
    text-align: left;
    table-layout: fixed;
  }

  td {
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  th {
    padding-left: 12px;
    border: 1px solid rgba(238, 44, 27, 0.1);
  }

  thead {
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-weight: normal;
  }

  .table-header {
    background: rgba(254, 112, 36, 0.1);
    border: 1px solid rgba(238, 44, 27, 0.1);
    border-radius: 50% 0% 50% 0%;
  }

  .table-row {
    font-size: 15px;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(243, 110, 35, 0.1);
    background: rgba(243, 110, 35, 0.05);
  }

  .collection-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .iconContainer {
    width: 40%;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    margin-right: 10px;
  }

  .icon {
    font-size: 50px;
    color: black;
  }

  .textContainer {
    width: 60%;
    font-size: large;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 13px;
  }

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    .right-filter {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-end;
    }

    .search-field {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .buttoncontainer {
      flex-direction: column;
      justify-content: space-between;
    }
    .btnStyle {
      width: 100%;
      margin-top: 1rem;
    }

    .btnStyle-right {
      width: 100%;
      margin-top: 1rem;
    }

    .table-row td:nth-child(n + 3) {
      display: none;
    }

    .table-header th:nth-child(n + 3) {
      display: none;
    }

    .search-main-container {
      display: flex;
      flex-direction: column;
      margin-right: -1.75rem;
    }

    .search-field {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }

    .right-filter {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .search-container {
      width: 100%;
    }
  }
}
